{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "prettier"
    ],
    "plugins": [
        "import",
        "prettier"
    ],
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "import/order": [
            "error",
            {
                "groups": [
                    [
                        "builtin",
                        "external",
                        "internal"
                    ],
                    [
                        "parent",
                        "sibling",
                        "index"
                    ]
                ],
                "newlines-between": "always"
            }
        ]
    }
    // "rules": {
    //     "prettier/prettier": "error"
    // }
}